[submodule "bundles/xoria256"]
	path = bundles/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "bundles/surround"]
	path = bundles/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundles/repeat"]
	path = bundles/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundles/easymotion"]
	path = bundles/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundles/ctrlp"]
	path = bundles/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundles/fugitive"]
	path = bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundles/jshint"]
	path = bundles/jshint
	url = https://github.com/michaelmitchell/jshint.vim.git
[submodule "bundles/tlib"]
	path = bundles/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundles/addon-mw-utils"]
	path = bundles/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundles/gundo"]
	path = bundles/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundles/snippets"]
	path = bundles/snippets
	url = https://github.com/michaelmitchell/snippets.git
[submodule "bundles/dir-diff"]
	path = bundles/dir-diff
	url = https://github.com/michaelmitchell/DirDiff.vim.git
[submodule "bundles/ack"]
	path = bundles/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundles/you-complete-me"]
	path = bundles/you-complete-me
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundles/tern"]
	path = bundles/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundles/ultisnips"]
	path = bundles/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundles/vaxe"]
	path = bundles/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = https://github.com/scrooloose/syntastic.git
